.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2vw;
    justify-items: center;
    max-width: 100%;
    margin: 2vw;
    text-align: center;
    background-color: aqua;
}

.grid-container .badge {
    /* Tus estilos para .badge aquí */
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #fcd34d;
    color: #ff9900;
    padding: 3px 10px;
    border-radius: 999px;
    font-size: 12px;
    font-weight: bold;
}

@media screen and (min-width: 1025px) and (max-width: 1360px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 1024px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(1, 1fr);
    }
}
